<div class="col-md-10">
			<div class="panel panel-default">
			<div class="panel-body">
			<form>
			<legend><h3>Create Blog</h3></legend>

			<div class="form-group">
			<label for="">Title</label>
			<input type="text" class="form-control" id="" placeholder="Blog Title" ng-model="newtitle">
			<label for="">Content</label>
			<textarea class="form-control msd-elastic"  ng-model="newcontent"></textarea>
			</div>      	
			<button ng-click="save()" class="btn btn-primary">Create Blog</button> 
			</form>
			</div>
			</div>
			</div>